.plus_icon {
  width: 16px;
  height: 16px;
  border-radius: 80%;
  padding: 8px;
  background-color: hsl(0, 0%, 12%);
  filter: brightness(0.5);
}
.library {
  width: 20px;
  height: 20px;
}
.song-podcast_playlist {
  width: 52px;
  height: 52px;
}
.iconContainer {
  width: 88px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.imgContainer {
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
